.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-card {
    width: 50px;
    border: 0px ;
    margin: 10px;
  }
  